[Unit]
Description=CSYE 6225
ConditionPathExists=/opt/csye6225
After=cloud-final.service

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/java -jar /opt/csye6225/webapp-0.0.1-SNAPSHOT.jar
Restart=always
RestartSec=5

[Install]
WantedBy=cloud-init.service
